.modal-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.textarea-input {
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save-button,
.toggle-button,
.close-button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-button {
  background-color: #f39c12;
  color: white;
}

.close-button {
  background-color: #e74c3c;
  color: white;
}

button:hover {
  opacity: 0.9;
}
.city-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.city-card:hover {
  background-color: #f9f9f9;
}

.city-image-placeholder img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 10px;
}

.city-details {
  flex-grow: 1;
}

.clickable-city {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}
