.App {
  text-align: center;
  font-family: monospace;
  color: #ffffff;
  background-color: #1c1c1e;
}

.title {
  background-color: #1c1c1e;
  color: #ffffff;
}

/* Container for login/logout button */
.login-container,
.logout-button {
  position: absolute;
  top: 0px;
  right: 10px;
}

/* Style for the logout button */
.logout-button {
  padding: 10px 20px;
  background-color: #ff4b4b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff3333;
}
