.App {
  text-align: center;
  font-family: monospace;
  color: #ffffff;
  background-color: #1c1c1e;
}

.title {
  background-color: #1c1c1e;
  color: #ffffff;
}

/* Container for login/logout button */

/* Style for the logout button */
.logout-button {
  padding: 10px 20px;
  background-color: #ff4b4b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff3333;
}

/* Add to App.css */

/* Burger icon styles */
.burger-icon {
  display: none; /* Hidden by default */
  cursor: pointer;
  position: absolute;
  top: 10px; /* Adjust position */
  right: 10px; /* Adjust position */
}

/* Style for the lines of the burger icon */
.burger-icon .line {
  width: 30px; /* Width of each line */
  height: 4px; /* Height of each line */
  background-color: #ffffff; /* Color of the lines */
  margin: 4px 0; /* Spacing between lines */
  transition: all 0.3s ease; /* Optional transition effect */
}

@media (max-width: 480px) {
  .burger-icon {
    display: flex; /* Show burger icon on mobile */
    flex-direction: column;
    margin-right: 10px;
  }

  /* Login container styling for mobile */
  .App .login-container {
    display: flex; /* Show login form */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align */
    width: 90%; /* Full width on mobile */
    margin: 0 auto; /* Center the container */
    padding: 10px; /* Padding for better spacing */
    /* background-color: #3c3c3e; Background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /* Styles for larger smartphones */
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets in portrait mode */
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* Styles for tablets in landscape mode and small laptops */
}

@media (min-width: 1281px) {
  /* Styles for larger screens */
}
